@media (max-width: 768px) {
  .side__panel {
    position: static !important;
    height: max-content !important;
  }
  .main__panel {
    margin: 0 !important;
  }
  .movie--list,
  .side__panel {
    min-height: max-content !important;
    height: max-content !important;
    padding-bottom: 40px !important;
  }
  .upload--div {
    width: 100% !important;
    border-radius: 0 !important;
  }
  .navbar .nav-link {
    padding: 20px 4px !important;
    margin: 0 !important ;
  }

  .search__wrapper {
    margin: 20px 0 !important ;
  }
}
