.login__text__wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  img {
    width: 30%;
    margin: 30px auto;
    opacity: 0.8;
  }
  .super--big {
    color: #fff;
    font-size: 4em;
  }
}
.login__container {
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  padding: 20px 40px;
  h1 {
    font-weight: lighter;
    margin-bottom: 40px;
    span {
      font-weight: bold;
    }
  }
  .cta {
    margin-top: 20px;
  }
}
