@import "./color", "./scrollbar", "./responsive";
* {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
body {
  background: rgb(69, 80, 80);
  background: linear-gradient(
    159deg,
    rgba(69, 80, 80, 1) 1%,
    rgba(68, 59, 49, 1) 48%,
    rgba(21, 20, 19, 1) 100%
  );
  overflow-x: hidden;
  min-height: calc(100vh - 56px);
}
.cta,
.cta--alt {
  color: #fff;
  border-width: 0px;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: $primary-color;
  border: 2px solid $primary-color;
  padding: 8px 16px;
  transition: 0.4s;
  &:hover {
    background-color: #fff;
    color: $primary-color;
    border: 2px solid $primary-color;
  }
}
.cta--alt {
  background: $secondary-color;
  border: 2px solid $secondary-color;
  transition: 0.4s;
  &:hover {
    background-color: #fff;
    color: $secondary-color;
    border: 2px solid $secondary-color;
  }
}
.default__input {
  background: 0 0;
  width: 100%;
  border: 1px solid rgba($color: #fff, $alpha: 0.6);
  padding: 8px 16px;
  margin-bottom: 20px;
  color: rgba($color: #fff, $alpha: 0.6);
  &:active,
  &:focus {
    background: rgba($color: #fff, $alpha: 0.05);
    color: #fff;
  }
}
.navbar-toggler-icon {
  background: $secondary-color;
  border-radius: 50%;
}
.navbar {
  background: #1f2326;
  .container-fluid {
    padding: 0;
  }
  .cta {
    font-size: 0.6em;
  }
  .nav-link {
    color: rgba($color: #fff, $alpha: 0.6);
    transition: 0.4s;
    margin: 0 12px;
    padding: 0;
    cursor: pointer;
    &:hover {
      color: rgba($color: #fff, $alpha: 1);
    }
  }
}
.profile__pic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 2px;
}
.search__wrapper {
  width: 200px;
  overflow: hidden;
  position: relative;
  background: rgba($color: #fff, $alpha: 0.2);
  padding: 4px;
  border-radius: 4px;
  margin: 0 8px;
  input {
    background: 0 0;
    border: none;
    padding: 0px 12px;
    color: #fff;
    &:focus,
    &:active {
      outline: none;
    }
  }
  .fas {
    position: absolute;
    right: 8px;
    color: rgba($color: #fff, $alpha: 0.6);
    top: 50%;
    transform: translateY(-50%);
  }
}
.home--start {
  margin-top: 56px;
}
.side__panel {
  background: #1f2326;
  color: #bcbdbe;
  position: fixed;
  padding: 0;
  min-height: calc(100vh - 56px);
  h4 {
    margin: 15px;
    color: #fff;
    position: relative;
    .fas {
      position: absolute;
      right: 0;
      top: 6px;
      cursor: pointer;
    }
  }
}
.video__category {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 12px 8px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bold;
    border-left: 5px solid transparent;
    &:hover {
      background: rgba($color: #fff, $alpha: 0.2);
      color: #fff;
      border-left: 5px solid $primary-color;
    }
  }
  .active--category {
    background: rgba($color: #fff, $alpha: 0.2);
    color: #fff;
    border-left: 5px solid $primary-color;
  }
}
.main__panel {
  color: #bcbdbe;
  margin-left: 16.66%;
  .top__bar {
    -webkit-box-shadow: 1px 9px 15px -4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 9px 15px -4px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 9px 15px -4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    display: flex;
    font-size: 1.1em;
    font-weight: bold;
    .col-md-2 {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .fas {
        margin-left: 20px;
        cursor: pointer;
        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }
}
.img__card {
  margin: 12px 0;
  background: rgba(0, 0, 0, 0.25);
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.4s;
  cursor: pointer;
  position: relative;
  &:hover {
    -webkit-box-shadow: 1px 9px 15px -4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 9px 15px -4px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 9px 15px -4px rgba(0, 0, 0, 0.25);
  }
  img {
    width: 100%;
    margin-bottom: 12px;
  }
  span {
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 15px;
  }
  .video--meta {
    list-style: none;
    display: flex;
    padding: 4px 0;
    justify-content: center;
    li {
      padding: 4px 8px;
      font-size: 0.6em;
      margin: 2px;
      background-color: $secondary-color;
      color: #fff;
      border-radius: 4px;
      position: relative;
    }
  }
}

.card__container {
  position: relative;
  .img__card__overlay {
    background: $primary-color;
    color: #fff;
    border-radius: 4px;
    padding: 12px 40px;
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%);
    display: none;
    cursor: pointer;
  }
  &:hover .img__card__overlay {
    display: block;
  }
  &:hover .img__card {
    opacity: 0.9;
    filter: blur(1px);
  }
}
.movie--list {
  height: calc(100vh - 102px);
  overflow: auto;
}
.upload__container {
  background: rgba($color: #000, $alpha: 0.8);
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  z-index: 1031;
  display: flex;
  justify-content: center;
  align-items: center;
  .upload--div {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    position: relative;
    pointer-events: visible;
    width: 60%;
    .fa-times {
      position: absolute;
      top: 8px;
      right: 12px;
      color: $primary-color;
      cursor: pointer;
    }
  }
}
.modal__show {
  display: none;
}
.modal__content {
  padding-top: 20px;
}
.upload--meta {
  label,
  input,
  select,
  textarea {
    display: block;
    width: 100%;
    padding: 4px 12px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    background: #f3f3f3;
    border-radius: 4px;
  }
  label {
    margin: 4px 0;
    padding: 0;
    width: 100%;
    border: none;
    background: 0 0;
    font-weight: bold;
    font-size: 0.8em;
    .fas {
      cursor: pointer;
      margin-left: auto;
      float: right;
      transition: 0.4s;
      &:hover {
        color: $secondary-color;
      }
    }
  }
  textarea {
    resize: none;
  }
  textarea,
  .multiSel {
    height: 100px;
    overflow-y: auto;
  }
}
.upload--box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload--vid--sec {
  border: 2px dashed $secondary-color;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
  span {
    font-size: 1.5em;
    color: $secondary-color;
  }
}
