.login__text__wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center; }
  .login__text__wrap img {
    width: 30%;
    margin: 30px auto;
    opacity: 0.8; }
  .login__text__wrap .super--big {
    color: #fff;
    font-size: 4em; }

.login__container {
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  padding: 20px 40px; }
  .login__container h1 {
    font-weight: lighter;
    margin-bottom: 40px; }
    .login__container h1 span {
      font-weight: bold; }
  .login__container .cta {
    margin-top: 20px; }
