/* width */
::-webkit-scrollbar {
  width: 8px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6e42ff; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6e42ff; }

@media (max-width: 768px) {
  .side__panel {
    position: static !important;
    height: max-content !important; }
  .main__panel {
    margin: 0 !important; }
  .movie--list,
  .side__panel {
    min-height: max-content !important;
    height: max-content !important;
    padding-bottom: 40px !important; }
  .upload--div {
    width: 100% !important;
    border-radius: 0 !important; }
  .navbar .nav-link {
    padding: 20px 4px !important;
    margin: 0 !important; }
  .search__wrapper {
    margin: 20px 0 !important; } }

* {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

body {
  background: #455050;
  background: linear-gradient(159deg, #455050 1%, #443b31 48%, #151413 100%);
  overflow-x: hidden;
  min-height: calc(100vh - 56px); }

.cta,
.cta--alt {
  color: #fff;
  border-width: 0px;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #f9002b;
  border: 2px solid #f9002b;
  padding: 8px 16px;
  transition: 0.4s; }
  .cta:hover,
  .cta--alt:hover {
    background-color: #fff;
    color: #f9002b;
    border: 2px solid #f9002b; }

.cta--alt {
  background: #6e42ff;
  border: 2px solid #6e42ff;
  transition: 0.4s; }
  .cta--alt:hover {
    background-color: #fff;
    color: #6e42ff;
    border: 2px solid #6e42ff; }

.default__input {
  background: 0 0;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 8px 16px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.6); }
  .default__input:active, .default__input:focus {
    background: rgba(255, 255, 255, 0.05);
    color: #fff; }

.navbar-toggler-icon {
  background: #6e42ff;
  border-radius: 50%; }

.navbar {
  background: #1f2326; }
  .navbar .container-fluid {
    padding: 0; }
  .navbar .cta {
    font-size: 0.6em; }
  .navbar .nav-link {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.4s;
    margin: 0 12px;
    padding: 0;
    cursor: pointer; }
    .navbar .nav-link:hover {
      color: white; }

.profile__pic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 2px; }

.search__wrapper {
  width: 200px;
  overflow: hidden;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  padding: 4px;
  border-radius: 4px;
  margin: 0 8px; }
  .search__wrapper input {
    background: 0 0;
    border: none;
    padding: 0px 12px;
    color: #fff; }
    .search__wrapper input:focus, .search__wrapper input:active {
      outline: none; }
  .search__wrapper .fas {
    position: absolute;
    right: 8px;
    color: rgba(255, 255, 255, 0.6);
    top: 50%;
    transform: translateY(-50%); }

.home--start {
  margin-top: 56px; }

.side__panel {
  background: #1f2326;
  color: #bcbdbe;
  position: fixed;
  padding: 0;
  min-height: calc(100vh - 56px); }
  .side__panel h4 {
    margin: 15px;
    color: #fff;
    position: relative; }
    .side__panel h4 .fas {
      position: absolute;
      right: 0;
      top: 6px;
      cursor: pointer; }

.video__category {
  list-style: none;
  padding: 0;
  margin: 0; }
  .video__category li {
    padding: 12px 8px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bold;
    border-left: 5px solid transparent; }
    .video__category li:hover {
      background: rgba(255, 255, 255, 0.2);
      color: #fff;
      border-left: 5px solid #f9002b; }
  .video__category .active--category {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    border-left: 5px solid #f9002b; }

.main__panel {
  color: #bcbdbe;
  margin-left: 16.66%; }
  .main__panel .top__bar {
    -webkit-box-shadow: 1px 9px 15px -4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 9px 15px -4px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 9px 15px -4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    display: flex;
    font-size: 1.1em;
    font-weight: bold; }
    .main__panel .top__bar .col-md-2 {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .main__panel .top__bar .col-md-2 .fas {
        margin-left: 20px;
        cursor: pointer; }
        .main__panel .top__bar .col-md-2 .fas:first-child {
          margin-right: 10px; }

.img__card {
  margin: 12px 0;
  background: rgba(0, 0, 0, 0.25);
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.4s;
  cursor: pointer;
  position: relative; }
  .img__card:hover {
    -webkit-box-shadow: 1px 9px 15px -4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 9px 15px -4px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 9px 15px -4px rgba(0, 0, 0, 0.25); }
  .img__card img {
    width: 100%;
    margin-bottom: 12px; }
  .img__card span {
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 15px; }
  .img__card .video--meta {
    list-style: none;
    display: flex;
    padding: 4px 0;
    justify-content: center; }
    .img__card .video--meta li {
      padding: 4px 8px;
      font-size: 0.6em;
      margin: 2px;
      background-color: #6e42ff;
      color: #fff;
      border-radius: 4px;
      position: relative; }

.card__container {
  position: relative; }
  .card__container .img__card__overlay {
    background: #f9002b;
    color: #fff;
    border-radius: 4px;
    padding: 12px 40px;
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%);
    display: none;
    cursor: pointer; }
  .card__container:hover .img__card__overlay {
    display: block; }
  .card__container:hover .img__card {
    opacity: 0.9;
    filter: blur(1px); }

.movie--list {
  height: calc(100vh - 102px);
  overflow: auto; }

.upload__container {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  z-index: 1031;
  display: flex;
  justify-content: center;
  align-items: center; }
  .upload__container .upload--div {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    position: relative;
    pointer-events: visible;
    width: 60%; }
    .upload__container .upload--div .fa-times {
      position: absolute;
      top: 8px;
      right: 12px;
      color: #f9002b;
      cursor: pointer; }

.modal__show {
  display: none; }

.modal__content {
  padding-top: 20px; }

.upload--meta label,
.upload--meta input,
.upload--meta select,
.upload--meta textarea {
  display: block;
  width: 100%;
  padding: 4px 12px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  background: #f3f3f3;
  border-radius: 4px; }

.upload--meta label {
  margin: 4px 0;
  padding: 0;
  width: 100%;
  border: none;
  background: 0 0;
  font-weight: bold;
  font-size: 0.8em; }
  .upload--meta label .fas {
    cursor: pointer;
    margin-left: auto;
    float: right;
    transition: 0.4s; }
    .upload--meta label .fas:hover {
      color: #6e42ff; }

.upload--meta textarea {
  resize: none; }

.upload--meta textarea,
.upload--meta .multiSel {
  height: 100px;
  overflow-y: auto; }

.upload--box {
  display: flex;
  justify-content: center;
  align-items: center; }

.upload--vid--sec {
  border: 2px dashed #6e42ff;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  cursor: pointer; }
  .upload--vid--sec span {
    font-size: 1.5em;
    color: #6e42ff; }
